/*
● Fuentes:
○ Títulos: Nunito Black
○ Enlaces y botones: Nunito Bold
○ Pre – Títulos: Nunito Extra Light
○ Texto general: Open Sans Regular
○ Título de pregunta en FAQS: Open Sans Bold

● Tamaños de textos:
○ Título banner principal: 40px
○ Bajada banner principal: 22px
○ Títulos secundarios: 28px
○ Pre Títulos: 12px
○ Texto general: 16px
○ Título “Si brindas ayuda y te interesa sumarte”: 23px
○ Botones: 16px
○ Footer: 14px
○ Copyright: 12px
*/

$color-pink: #e21982;
$color-blue: #22193f;
$color-gray: #e8e8e8;

@font-face {
  font-family: "Nunito Black";
  src: url("/CSS/fonts/Nunito-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Bold";
  src: url("/CSS/fonts/Nunito-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito ExtraLight";
  src: url("/CSS/fonts/Nunito-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans Bold";
  src: url("/CSS/fonts/OpenSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans Regular";
  src: url("/CSS/fonts/OpenSans-Regular.ttf") format("truetype");
}

$nunito-bold: "Nunito Bold";
$nunito-black: "Nunito Black";
$nunito-extralight: "Nunito ExtraLight";
$opensans-bold: "OpenSans Bold";
$opensans-regular: "OpenSans Regular";

@mixin botones {
  font-family: $nunito-bold;
  font-size: 16px;
  color: white;
  background-color: $color-pink;
}

@mixin pre-titulos {
  font-family: $nunito-extralight;
  font-size: 12px;
  color: $color-pink;
}

@mixin titulos-secundarios {
  font-family: $nunito-black;
  font-size: 28px;
  color: $color-blue;
}

@mixin texto-general {
  font-family: $opensans-regular;
  font-size: 16px;
  color: $color-blue;
}

//Imágenes, íconos, logos

.logo {
  width: 125px;
  height: 35px;
}

.banner-principal {
  max-width: 100%;
}

.imagen-fondo {
  background-image: url("/Imagenes/banner-principal.jpg");
  background-size: cover;
  padding: 215px 0px;
}

.iconos {
  width: 50px;
  object-fit: contain;
}

//Fuentes, títulos, botones

.common-styles {
  @include botones();
}

.login-btn {
  width: 100px;
  margin-left: 50px;
}

.btn:hover {
  background-color: #a43c74;
  color: white;
}

.nav-link {
  color: $color-blue;
  font-family: $nunito-bold;
}

.titulo-banner {
  font-family: $nunito-black;
  font-size: 40px;
  color: white;
}

.texto-banner {
  font-family: $opensans-regular;
  font-size: 16px;
  color: white;
}

.pre-titulo {
  @include pre-titulos();
}

.titulo-secundario {
  @include titulos-secundarios();
}

.texto-1 {
  @include texto-general();
}

.pre-titulo-2 {
  @include pre-titulos();
}

.titulo-secundario-2 {
  @include titulos-secundarios();
}

.row-3 {
  font-family: $nunito-black;
  color: $color-pink;
}

.row-4 {
  @include texto-general();
}

//Banda-rosa

.btn-medio {
  border-color: white;
}

.texto-2 {
  font-size: 23px;
  color: white;
  font-family: $nunito-bold;
}

//Color de fondo Secciones

.quienes-somos {
  background-color: $color-gray;
}

.banda-rosa {
  background-color: $color-pink;
}

//Media Queries

@media (max-width: 767.98px) {
  .btn {
    margin-left: 0;
    margin-top: 15px;
  }
}

@media (max-width: 576px) {
  .imagen-fondo {
    max-width: 800px;
    height: 120px;
  }
}

* {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

h1 {
  font-family: "Nunito", sans-serif;
  font-weight: 900;
  font-size: 22px;
  color: #ffffff;
}

h2 {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 10px;
  &::first-letter {
    text-transform: capitalize;
  }
}

h3 {
  font-family: "Nunito", sans-serif;
  font-weight: 200;
  font-size: 12px;
  color: $color-pink;
  text-transform: uppercase;
}

body {
  background-color: $color-gray;
  .module {
    margin-bottom: 60px;
    .container {
      .custom-padding {
        padding: 50px 0;
      }
      .dropdown-input {
        .form-control {
          margin-bottom: 15px;
          padding: 15px 0px 15px 20px;
          font-family: "Open Sans", sans-serif;
          font-weight: 700;
          &::first-letter {
            text-transform: uppercase;
          }
        }
      }
      .ilustration-faqs {
        display: flex;
        justify-content: space-around;
        .ilustration-faqs__img {
          width: 500px;
          max-width: 100%;
        }
      }
    }
  }
  .banner-secondary {
    background-image: url("../Imagenes/banner-secundario.jpg");
    background-size: cover;
    padding: 130px 0px;
    h1 {
      margin-top: 30px;
    }
    .btn-danger {
      &::first-letter {
        text-transform: uppercase;
      }
      margin-top: 15px;
      border-radius: 100px;
      font-size: 16px;
      background-color: $color-pink;
      font-family: "Nunito", sans-serif;
      font-weight: 700;
    }
  }
  .footer {
    background-color: $color-blue-texts-and-footer;

    .snippets {
      .nav-item {
        .text-muted {
          color: #ffffff !important;
        }
      }
    }
    .copyright {
      .copyright__p {
        font-size: 12px;
        color: #ffffff;
      }
    }
  }
}
