/*
● Fuentes:
○ Títulos: Nunito Black
○ Enlaces y botones: Nunito Bold
○ Pre – Títulos: Nunito Extra Light
○ Texto general: Open Sans Regular
○ Título de pregunta en FAQS: Open Sans Bold

● Tamaños de textos:
○ Título banner principal: 40px
○ Bajada banner principal: 22px
○ Títulos secundarios: 28px
○ Pre Títulos: 12px
○ Texto general: 16px
○ Título “Si brindas ayuda y te interesa sumarte”: 23px
○ Botones: 16px
○ Footer: 14px
○ Copyright: 12px
*/

$color-pink: #e21982;
$color-blue: #22193f;
$color-gray: #e8e8e8;

@font-face {
  font-family: "Nunito Black";
  src: url("/CSS/fonts/Nunito-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito Bold";
  src: url("/CSS/fonts/Nunito-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito ExtraLight";
  src: url("/CSS/fonts/Nunito-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans Bold";
  src: url("/CSS/fonts/OpenSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "OpenSans Regular";
  src: url("/CSS/fonts/OpenSans-Regular.ttf") format("truetype");
}

@mixin botones {
  $nunito-bold: "Nunito Bold";
  font-size: 16px;
  color: white;
  background-color: $color-pink;
}

$nunito-bold: "Nunito Bold";
$nunito-black: "Nunito Black";
$nunito-extralight: "Nunito ExtraLight";
$opensans-bold: "OpenSans Bold";
$opensans-regular: "OpenSans Regular";

//Imágenes, íconos, logos

.logo {
  width: 125px;
  height: 35px;
}

.banner-principal {
  width: 100%;
}

.imagen-fondo{
  background-image: url("/Imagenes/banner-principal.jpg");
  background-size: cover;
  padding: 215px 0px;
}

.iconos{
  width: 50px;
  object-fit: contain;
}

//Fuentes, títulos, botones

.common-styles {
  @include botones();
}

.login-btn {
  width: 100px;
  margin-left: 50px;
}

.btn:hover {
  background-color: #a43c74;
  color: white;
}

.nav-link {
  color: $color-blue;
  font-family: $nunito-bold;
}

.titulo-banner {
  font-family: $nunito-black;
  font-size: 40px;
  color: white;
}

.texto-banner {
  font-family: $opensans-regular;
  font-size: 16px;
  color: white;
}

.quienes-somos{
  background-color: $color-gray;
}

$gutter-x: 1rem;


//Media Queries

@media (max-width: 767.98px) {
  .btn {
    margin-left: 0;
    margin-top: 15px;
  }
}

@media (max-width: 576px) {
  .imagen-fondo{
    max-width: 800px;
    height: 120px;
  }

}