
/*
● Fuentes:
○ Títulos: Nunito Black
○ Enlaces y botones: Nunito Bold
○ Pre – Títulos: Nunito Extra Light
○ Texto general: Open Sans Regular
○ Título de pregunta en FAQS: Open Sans Bold

● Tamaños de textos:
○ Título banner principal: 40px
○ Bajada banner principal: 22px
○ Títulos secundarios: 28px
○ Pre Títulos: 12px
○ Texto general: 16px
○ Título “Si brindas ayuda y te interesa sumarte”: 23px
○ Botones: 16px
○ Footer: 14px
○ Copyright: 12px
*/


$color-pink: #E21982;
$color-blue: #22193F;
$color-gray: #E8E8E8;

$-Nunito-Bold: @font/


img{
    width: 125px;
    height: 35px;
}

.btn{
    background-color: $color-pink;
    color: white;
    font-size: 16px;
    width: 100px;
}

.btn:hover {
    background-color:#a43c74;
    color: white;
  }