//● Fuentes:
// ○ Títulos: Nunito Black 900
// ○ Enlaces y botones: Nunito Bold 700
// ○ Pre – Títulos: Nunito Extra Light 200
// ○ Texto general: Open Sans Regular 400
// ○ Título de pregunta en FAQS: Open Sans Bold 700

// ● Tamaños de textos:
// ○ Título banner principal: 40px
// ○ Bajada banner principal: 22px
// ○ Títulos secundarios: 28px
// ○ Pre Títulos: 12px
// ○ Texto general: 16px
// ○ Título “Si brindas ayuda y te interesa sumarte”: 23px
// ○ Botones: 16px
// ○ Footer: 14px
// ○ Copyright: 12px

// ● Colores:
// ○ Rosa: #E21982
// ○ Azul oscuro en los textos y footer: #22193F
// ○ Gris: #E8E8E8


$color-pink: #E21982;
$color-blue-texts-and-footer: #22193F;
$color-gray: #E8E8E8;

*{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;

}

h1{
    font-family: 'Nunito', sans-serif;
    font-weight: 900;
    font-size: 22px;
    color: #ffffff;
}


h2{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 10px;
    &::first-letter {
        text-transform: capitalize;
    }
}

h3{
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    font-size: 12px;
    color: $color-pink;
    text-transform: uppercase;
}

body{
    background-color: $color-gray;
    .module{
        margin-bottom: 60px;
        .container{
            .custom-padding{
                padding: 50px 0;
            }
            .dropdown-input{
                .form-control{
                    margin-bottom: 15px;
                    padding: 15px 0px 15px 20px;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: 700;
                    &::first-letter{
                        text-transform: uppercase;
                    }
                }
            }
            .ilustration-faqs{
                display: flex;
                justify-content: space-around;
                .ilustration-faqs__img{
                    width: 500px;
                    max-width: 100%;
                }
            }
        }
    }
    .banner-secondary{
        background-image: url(../recursos/banner-secundario.jpg);
        background-size: cover;
        padding: 130px 0px;
        h1{
            margin-top: 30px;
        }
        .btn-danger{
            &::first-letter{
                text-transform: uppercase;
            }
            margin-top: 15px;
            border-radius: 100px;
            font-size: 16px;
            background-color: $color-pink;
            font-family: 'Nunito', sans-serif;
            font-weight: 700;
        }
    }
    .footer{
        background-color: $color-blue-texts-and-footer;
        .list-unstyled{
            .nav.item{
                
            }
        }
        .snippets{
            .nav-item{
                .text-muted{
                    color: #ffffff !important;
                }
            }
        }
        .copyright{
            .copyright__p{
                font-size: 12px;
                color: #ffffff;
            }
        }
    }
}